#!/bin/bash

# This file is maintained by Ansible

# Send all output to syslog
# See https://urbanautomaton.com/blog/2014/09/09/redirecting-bash-script-output-to-syslog/
exec 1> >(logger -s -t $(basename $0)) 2>&1

set -e

echo "Letsencrypt certificate deploy hook running..."

letsencrypt_dir=/etc/letsencrypt/live/{{ fqdn }}

echo
echo "Creating PKCS12 certificate..."
sudo openssl pkcs12 -export -in $letsencrypt_dir/fullchain.pem \
-inkey $letsencrypt_dir/privkey.pem -out $letsencrypt_dir/cert.p12 -name unifi -password pass:temppass
echo "Done creating PKCS12 certificate"

echo
echo "Importing certificate into unifi..."
sudo keytool -noprompt -importkeystore -deststorepass aircontrolenterprise \
-destkeypass aircontrolenterprise -destkeystore /usr/lib/unifi/data/keystore \
-srckeystore $letsencrypt_dir/cert.p12 -srcstoretype PKCS12 -srcstorepass temppass -alias unifi
echo "Certificate imported into unifi"

echo
echo "Restarting unifi..."
systemctl restart unifi.service
echo "Unifi restarted"
echo "Done"
echo
