# {{ ansible_managed }}

# Default HTTP listener, redirect to HTTPS on the configured hostname.

server {
  listen 80;

  # Match everything
  server_name _;

  location ^~ /.well-known/acme-challenge/ {
      default_type "text/plain";
      root /var/www/letsencrypt;
  }

  location / {
    return 301 https://{{ hostname }}$request_uri;
  }

}
