#!/bin/bash

# This file is maintained by Ansible

set -e

letsencrypt_dir=/etc/letsencrypt

rm -rf $letsencrypt_dir/live/{{ hostname }}*
rm -rf $letsencrypt_dir/archive/{{ hostname }}*
rm -rf $letsencrypt_dir/renewal/{{ hostname }}*
